version: "3"
services:
  vlink:
    image: "{{ nexus_registry }}/{{ docker_repo }}/{{ docker_image_name }}:{{ docker_image_tag }}"
    restart: always
    ports:
      - "8080:8080"
    environment:
      NEXUS_USERNAME: "{{ nexus_username }}"
      NEXUS_PASSWORD: "{{ nexus_password }}"
